<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--log4net-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Conference.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--log4写日志-->
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <!--<layout type="log4net.Layout.PatternLayout">
        -->
      <!--每条日志末尾的文字说明-->
      <!--
        <footer value="___________________________________________________________________________________" />
        -->
      <!--输出格式-->
      <!--
        -->
      <!--样例：2008-03-26 13:42:32,111 [10] INFO Log4NetDemo.MainClass [(null)] - info-->
      <!--
        <conversionPattern value="记录时间：%date 线程ID:[%thread] 日志级别：%-5level 出错类：%logger property:[%property{NDC}] - 错误描述：%message%newline" />
      </layout>-->
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>

  <appSettings >
    <!--智存空间服务地址-->
    <add key="SpaceServiceAddress" value="http://192.168.1.205:9577/Service.asmx"/>
    <!--站点序列号-->
    <add key="SP_Guid_Value" value="2cecf1cd-3a66-4c07-9cb8-a97a48eb8073"/>
    <!--web站点-->
    <add key="SP_WebName_Value" value="Storage"/>
    <!--list名称-->
    <add key="SP_ListName_Value" value="UserFolder"/>

    <!--web站点-->
    <add key="SP_WebName2_Value" value="Storage"/>
    <!--list名称-->
    <add key="SP_ListName2_Value" value="MeetingFolder"/>

    <!--用户配置文件-->
    <add key="UserFilePath" value="User.bin" />

    <!--域名前缀-->
    <add key="UserDoaminPart1Name" value="st" />

    <!--用户配置文件-->
    <add key="UserDomain" value="st.com" />
    
    <!--缓存目录-->
    <add key="LocalTemp" value="LocalTemp" />

    <!-- sp IP-->
    <add key="SPS_IP" value="192.168.1.205" />

    <!--智存空间辅助服务-->
    <add key="SpaceHelperServiceAddressFront" value="http://192.168.1.212:11889/"/>

    <!--智存空间辅助服务-->
    <add key="ApplicationVersionWebName" value="/ConferenceVersionWebservice.asmx"/>

    <!--当前终端端版本-->
    <add key="CurrentVersion" value="1.03"/>

    <!--终端版本更新应用程序-->
    <add key="ConferenceVersionUpdateExe" value="ConferenceVersionUpdate.exe" />

    <!--启动应用-->
    <add key="StartApplication" value="Conference_Start.exe"/>


  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
      
        <binding name="ServiceSoap"  maxBufferPoolSize="22147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed">
          <security mode="None" />
          <readerQuotas maxStringContentLength="2147483647" />
         
        
        </binding>      
      </basicHttpBinding>
   
    </bindings>
    <client>
    
      <endpoint address="http://192.168.1.205:9577/Service.asmx" binding="basicHttpBinding"
          bindingConfiguration="ServiceSoap" contract="SpaceService.ServiceSoap" 
          name="ServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>